fastapi==0.115.6
uvicorn[standard]==0.34.0
pymongo==4.10.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
pydantic-settings==2.7.0
jinja2==3.1.5
ffmpeg-python==0.2.0
reportlab==4.0.8
cloudinary==1.45.0
deepface==0.0.91
opencv-python==4.10.0.84
tf-keras==2.17.0
